header {
    background-color: rgba(48, 30, 110, 0.822); 
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Courgette', cursive;
    color:rgba(255, 255, 255, 0.822)
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(50, 8, 99, 0.158);
}

footer {
    background-color: rgba(50, 8, 99, 0.233);
    font-family: 'Montserrat Alternates', sans-serif;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    left:5px;
    right:5px;
    bottom:10px;
    color:rgba(19, 19, 19, 0.63)
}

img {
    float: right;
    width: 25%;
    border-radius: 15px;
}

h2{
    font-family: 'Montserrat Alternates', sans-serif;
}

.divLine {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px;
}

.sideeff{
    height:100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(117, 190, 95);
    overflow-x: hidden;
    transition: :0.5s;
    padding-top: 60px;
}

.sideeff a{
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 105%;
    color: rgb(82, 56, 23);
    display: block;
    transition: 0.3s;
}

.sideeff a:hover{
    color: #f1f1f1;
}

.sideeff .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sideeff {padding-top: 15px;}
    .sideeff a {font-size: 18px;}
  }