header{
    background-color: #011a27;
    color: #f0810f;;
    text-align: center;
    border-radius: 15px;
    /*border radius curves the corners*/
    padding: 50px;
    /*padding creates space around content*/
    font-family: 'Press Start 2P', cursive;
    /*use the google font*/    
}

img{
    float:right;
    width: 15%;
    /*width makes sure the image scales at % screen size*/
}

body{
    background-color: #063852;
    color: #f0810f;
}

a:link{
    color: #e6df44
}

a:visited{
    color:#e6df44;
}

footer{
    background-color:#011a27;
    color: #f0810f;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    position: fixed;
    /*fixed vs absolute position: relative to browser vs relative to first position ancestor*/
    left:0px;
    right: 0px;
    bottom: 0px;
}

#upDate{
    color:#e6df44
}

h2{
    font-family: 'Concert One', cursive;
}

#assLink{
    font-family: 'Work Sans', sans-serif;
}