body{
    font-family: 'Montserrat Alternates';
}

header{
    background-color: #8fc0a9; 
    padding: 10px;
    justify-content: center;
    font-family: 'Courgette', cursive;
    color:rgba(255, 255, 255, 0.822)

}

header img{
    width: 10%;
    display: inline-block;
}

.logo{
    display:flex;
    justify-content: center;
}

ul{
    font-size: large;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #4a7c59;
}

  li{
      padding: 15px;
      display: none;
  }

  li:first-child{
      display: block;
  }

  .responsive li{
      display: block;
      background-color: rgb(238, 236, 250) 
  }
  nav a:hover{
    font-size: 1.1em;
    background-color:#c8d5b9;
    color: #faf3dd;
}

  nav a {
    color: #faf3dd ;
    display: block;
    text-align: center;
    padding: 0.4em;
    text-decoration: none;
    font-family: 'Montserrat';
    background-color: #4a7c59;
  }

main{
    text-align: center;
    margin: 10px auto;
    max-width: 70%;
    min-height: 500px;
    background-color: #faf3dd;
}

main div{
    background-color:#68b0ab;
}

main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.heroimg{
    position: relative;
}

.weathersum{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


@media screen and (min-width:800px) {
    main{
        max-width: 100%;
    }

    ul{
        flex-direction: row;
    }

    nav ul > li:first-child{
        display:none;
    }

    ul > li{
        display:block;
    }
    .navigation {
        display: flex;
    }
}

footer {
    background-color: #4a7c59;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    left:5px;
    right:5px;
    bottom:0px;
    color: #faf3dd;
}