header{
    background-color: #8fc0a9; 
    padding: 10px;
    text-align: center;
    font-family: 'Courgette', cursive;
    color:rgba(255, 255, 255, 0.822)

}

header img{
    width: 3%;
    float: left;
}

#nav > ul {
    margin: 0;
    display:block
}

#nav > ul > li {
    position: relative;
    display: inline-block;
    margin-left: 1em;
}

#nav > ul > li a {
    color: #faf3dd;
    text-decoration: none;
    border: 0;
    display: block;
    padding:1.05em 0.5em;
}

#nav > ul > li:first-child {
    margin-left: 0;
}

#nav > ul > li:hover a {
    background-color:#c8d5b9;
    color: #faf3dd;
}

#nav > ul > li.current {
    font-weight: 600;
}

#nav > ul > li.present {
    font-weight: 600;
}

#nav > ul > li.present:before {
    -moz-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    width: 0.75em;
    height: 0.75em;
    content:'';
    display: block;
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    margin-left: -0.375em;
    background-color: #37c0fb;
}

#nav > ul > li.present a {
    color: #fff;
}

#nav > ul > li.active a {
    color: #fff;
}

#nav > ul > li.active.present:before {
    opacity: 0;
}

#nav {
    cursor: default;
    background-color: #4a7c59;
    padding: 0;
    text-align: center;
}

#nav-toggle {
    display:none;
    background-color: #4a7c59;
    cursor: pointer;
}

#nav-toggle > a {
    float:left;
    color:#fff;
    padding:10px;
    width: 26px;
}

#nav-toggle > a > span {
    width:26px;
    height:2px;
    background-color:#fff;
    display:block;
}

#nav-toggle > a > span + span {
    margin-top:4px;
}

.menu-caption {
    display:inline-block;
    color:#fff;
    padding:10px;
}

/*
nav a{
    padding: 12px 16px;
    text-decoration: none;
    padding: 12px 16px;
}

nav a:hover{
    background-color:#c8d5b9;
    color: #68b0ab;  
}

nav a:link{
    color: #faf3dd;
}
*/

main{
    text-align: center;
    margin: 10px auto;
    max-width: 70%;
    min-height: 500px;
    background-color: #faf3dd;
}

main div{
    background-color:#68b0ab;
}

main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.heroimg{
    position: relative;
}

.weathersum{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


@media screen and (max-width:767px) {
    main{
        max-width: 100%;
    }

    #nav-toggle {
        display:block;
    }

    #nav > ul {
        display:none;
    }

    #nav > ul > li {
        display: block;
    }
}

footer {
    background-color: #4a7c59;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    left:5px;
    right:5px;
    bottom:0px;
    color: #faf3dd;
}